{
  "openapi": "3.0.3",
  "info": {
    "title": "ChefOS API V2",
    "description": "API completa do ecossistema ChefOS para integrações omnichannel, PDVs terceiros e relatórios automatizados.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://app.chefos.online/api/v2",
      "description": "Servidor de Produção Principal"
    },
    {
      "url": "https://sandbox.chefos.online/api/v2",
      "description": "Servidor de Sandbox (Testes)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/halls": {
      "get": {
        "summary": "Listar Salões",
        "description": "Lista todos os salões ou busca um específico.",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "subresource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "tables"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      },
      "post": {
        "summary": "Criar Salão",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Salão criado"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Salão",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Salão atualizado"
          }
        }
      },
      "delete": {
        "summary": "Excluir Salão",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Excluído com Sucesso"
          }
        }
      }
    },
    "/tables": {
      "get": {
        "summary": "Listar Mesas",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hallId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "LIVRE",
                "OCUPADA",
                "PAGANDO",
                "CHAMANDO_GARCOM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mesa(s) Retornada(s)"
          }
        }
      },
      "post": {
        "summary": "Criar Mesa",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "number": {
                    "type": "number"
                  },
                  "hall_id": {
                    "type": "string"
                  },
                  "x": {
                    "type": "number"
                  },
                  "y": {
                    "type": "number"
                  },
                  "width": {
                    "type": "number"
                  },
                  "height": {
                    "type": "number"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "LIVRE",
                      "OCUPADA",
                      "PAGANDO",
                      "CHAMANDO_GARCOM"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Criado"
          }
        }
      },
      "patch": {
        "summary": "Atualiza Mesa",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "LIVRE",
                      "OCUPADA",
                      "PAGANDO",
                      "CHAMANDO_GARCOM"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado"
          }
        }
      },
      "delete": {
        "summary": "Excluir Mesa",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Excluido"
          }
        }
      }
    },
    "/ingredients": {
      "get": {
        "summary": "Listar Ingredientes",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ingredientes retornados"
          }
        }
      }
    },
    "/employees": {
      "get": {
        "summary": "Listar Funcionários",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funcionários retornados"
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "summary": "Listar Receitas e Fichas Técnicas",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receitas retornadas"
          }
        }
      }
    },
    "/catalog": {
      "get": {
        "summary": "Obter Catálogo de Cardápio",
        "description": "Lista o catálogo completo de pratos organizados por categorias, incluindo suas customizações, opções extras, e hierarquia equivalente a integrações como iFood. Ideal para PDV e apps de autoatendimento.",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catálogo retornado com sucesso"
          }
        }
      }
    },
    "/menu-checkout": {
      "post": {
        "summary": "Finalizar Pedido de Autoatendimento ou Cardápio Digital",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderData": {
                    "type": "object"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pedido Criado"
          }
        }
      }
    },
    "/menu-items": {
      "get": {
        "summary": "Listar Itens do Cardápio",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isAvailable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Itens retornados"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Item do Cardápio",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "is_available": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Atualizado"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "Listar Pedidos",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Usa com subresource=summary para retornar detalhes financeiros"
          },
          {
            "name": "subresource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "summary"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "PAYING",
                "AWAITING",
                "COMPLETED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "tableNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pedidos"
          }
        }
      },
      "post": {
        "summary": "Criar Pedido",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subresource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "items",
                "request-payment"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "tableNumber": {
                    "type": "number"
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "orderType": {
                    "type": "string",
                    "enum": [
                      "Dine-in",
                      "QuickSale",
                      "iFood-Delivery",
                      "iFood-Takeout",
                      "External-Delivery",
                      "Tab"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "externalCode": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "PENDENTE",
                            "EM_PREPARO",
                            "PRONTO",
                            "SERVIDO",
                            "AGUARDANDO",
                            "CANCELADO"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modificado/Criado"
          }
        }
      },
      "delete": {
        "summary": "Cancelar Pedido Aberto",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelado"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "Lista / Busca Clientes",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clientes"
          }
        }
      },
      "post": {
        "summary": "Criar / Autenticar Cliente",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "login"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Modificar Cliente",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Exclusão do Cliente",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        }
      }
    },
    "/reservations": {
      "get": {
        "summary": "Listar Reservas / Consultar Disponibilidade",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Criar Reserva",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_name": {
                    "type": "string"
                  },
                  "party_size": {
                    "type": "number"
                  },
                  "reservation_time": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED",
                      "CANCELLED",
                      "COMPLETED"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Status de Reserva",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONFIRMED",
                      "CANCELLED",
                      "COMPLETED"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Excluir Reserva",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "summary": "Finalizar Pagamento de Pedido",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string"
                  },
                  "payments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "tip": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pagamento processado"
          }
        }
      }
    },
    "/deliveries": {
      "get": {
        "summary": "Listar Delivery/Driver infos",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "drivers",
                "orders"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Status Delivery ou Atribuir Motorista",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "update_status",
                      "assign_driver"
                    ]
                  },
                  "orderId": {
                    "type": "string"
                  },
                  "newStatus": {
                    "type": "string",
                    "enum": [
                      "OUT_FOR_DELIVERY",
                      "ARRIVED_AT_DESTINATION",
                      "DELIVERED"
                    ]
                  },
                  "employeeId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/reports": {
      "get": {
        "summary": "Obter Relatórios Gerenciais",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sales",
                "item_performance"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/loyalty": {
      "get": {
        "summary": "Listar Programas de Recompensas",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Criar Recompensa de Lealdade",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "points_cost": {
                    "type": "number"
                  },
                  "reward_type": {
                    "type": "string",
                    "enum": [
                      "discount_percentage",
                      "discount_fixed",
                      "free_item"
                    ]
                  },
                  "reward_value": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Recompensa",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "points_cost": {
                    "type": "number"
                  },
                  "reward_type": {
                    "type": "string",
                    "enum": [
                      "discount_percentage",
                      "discount_fixed",
                      "free_item"
                    ]
                  },
                  "reward_value": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "Listar Webhooks",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Registrar Webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://meu-sistema.com/webhook"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "order.created",
                        "order.updated",
                        "stock.updated",
                        "customer.created"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Webhook",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "order.created",
                        "order.updated",
                        "stock.updated",
                        "customer.created"
                      ]
                    }
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Excluir Webhook",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/trigger-webhook": {
      "post": {
        "summary": "Disparar Evento de Webhook Teste Local ou Manual",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "enum": [
                      "order.created",
                      "order.updated",
                      "stock.updated",
                      "customer.created"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "description": "Dados do evento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Verificação de Saúde (Health Check)",
        "description": "Retorna o status de saúde do sistema e das conexões com o banco de dados e serviços.",
        "security": [],
        "responses": {
          "200": {
            "description": "Sistema operando normalmente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2026-08-08T03:00:00Z"
                    },
                    "uptime": {
                      "type": "number"
                    },
                    "database": {
                      "type": "string",
                      "example": "connected"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/telemetry": {
      "post": {
        "summary": "Registro de Telemetria e Diagnósticos",
        "description": "Envia métricas, erros e logs de performance do cliente para monitoramento.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "level": {
                    "type": "string",
                    "enum": [
                      "info",
                      "warn",
                      "error"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "context": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telemetria registrada com sucesso"
          }
        }
      }
    },
    "/rh/funcionarios": {
      "get": {
        "summary": "Listar Funcionários (RH)",
        "responses": {
          "200": {
            "description": "Lista de colaboradores"
          }
        }
      },
      "post": {
        "summary": "Cadastrar Funcionário",
        "responses": {
          "201": {
            "description": "Funcionário cadastrado"
          }
        }
      },
      "patch": {
        "summary": "Atualizar Funcionário",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      },
      "delete": {
        "summary": "Remover Funcionário",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      }
    },
    "/rh/ponto": {
      "get": {
        "summary": "Listar Registros de Ponto",
        "responses": {
          "200": {
            "description": "Registros de folha de ponto"
          }
        }
      },
      "post": {
        "summary": "Ajuste / Registro Manual de Ponto",
        "responses": {
          "201": {
            "description": "Ponto gravado"
          }
        }
      },
      "patch": {
        "summary": "Aprovar / Corrigir Registro de Ponto",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      }
    },
    "/rh/ponto/bater-ponto": {
      "post": {
        "summary": "Bater Ponto via PIN",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "restaurantId",
                  "employeeId",
                  "pin"
                ],
                "properties": {
                  "restaurantId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "employeeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "pin": {
                    "type": "string",
                    "pattern": "^[0-9]{4,8}$"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ponto batido com comprovante de horário"
          }
        }
      }
    },
    "/rh/folha-pagamento": {
      "get": {
        "summary": "Calcular e Consultar Folha de Pagamento",
        "responses": {
          "200": {
            "description": "Relatório consolidado de folha"
          }
        }
      }
    },
    "/rh/ausencias": {
      "get": {
        "summary": "Listar Solicitações de Ausências / Férias",
        "responses": {
          "200": {
            "description": "Lista de ausências"
          }
        }
      },
      "post": {
        "summary": "Solicitar Ausência / Atestado / Férias",
        "responses": {
          "201": {
            "description": "Criado"
          }
        }
      },
      "patch": {
        "summary": "Aprovar / Rejeitar Ausência",
        "responses": {
          "200": {
            "description": "Atualizado"
          }
        }
      }
    },
    "/rh/escalas": {
      "get": {
        "summary": "Consultar Escalas de Trabalho",
        "responses": {
          "200": {
            "description": "Escala semanal/mensal"
          }
        }
      },
      "post": {
        "summary": "Criar/Atualizar Escala",
        "responses": {
          "201": {
            "description": "Escala salva"
          }
        }
      }
    },
    "/rh/cargos": {
      "get": {
        "summary": "Listar Cargos e Salários",
        "responses": {
          "200": {
            "description": "Cargos"
          }
        }
      },
      "put": {
        "summary": "Cadastrar / Atualizar Cargo",
        "responses": {
          "200": {
            "description": "Sucesso"
          }
        }
      }
    },
    "/rh/verificar-pin": {
      "post": {
        "summary": "Verificar PIN Operacional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "restaurantId",
                  "pin"
                ],
                "properties": {
                  "restaurantId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "employeeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "roleName": {
                    "type": "string"
                  },
                  "pin": {
                    "type": "string",
                    "pattern": "^[0-9]{4,8}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validação do funcionário"
          }
        }
      }
    },
    "/rh/permissoes-disponiveis": {
      "get": {
        "summary": "Listar Todas as Permissões de RH / Sistema",
        "responses": {
          "200": {
            "description": "Matriz de permissões"
          }
        }
      }
    },
    "/public-order": {
      "post": {
        "summary": "Pedido Público via QR Code / Totem",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "tableNumber": {
                    "type": "number"
                  },
                  "items": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pedido gerado"
          }
        }
      }
    },
    "/public-call-waiter": {
      "post": {
        "summary": "Chamar Garçom da Mesa",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "tableNumber": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alerta enviado ao salão"
          }
        }
      }
    },
    "/public-request-bill": {
      "post": {
        "summary": "Solicitar Fechamento da Conta da Mesa",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "restaurantId": {
                    "type": "string"
                  },
                  "tableNumber": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicitação de pré-conta enviada"
          }
        }
      }
    },
    "/public-stock": {
      "get": {
        "summary": "Consulta Pública de Disponibilidade de Estoque",
        "security": [],
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estoque de itens disponíveis"
          }
        }
      }
    },
    "/public-table-occupied": {
      "get": {
        "summary": "Verificar Status de Ocupação da Mesa",
        "security": [],
        "parameters": [
          {
            "name": "restaurantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status atual da mesa"
          }
        }
      },
      "post": {
        "summary": "Marcar Mesa como Ocupada por Token de Sessão",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mesa marcada como ocupada"
          }
        }
      }
    },
    "/delivery-location": {
      "post": {
        "summary": "Atualizar Localização do Entregador",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "restaurantId",
                  "driverId",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "restaurantId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "driverId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Localização atualizada"
          }
        }
      }
    },
    "/whatsapp/send-message": {
      "post": {
        "summary": "Enviar Mensagem via WhatsApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada"
          }
        }
      }
    },
    "/whatsapp/notify-status": {
      "post": {
        "summary": "Enviar Notificação de Status de Pedido via WhatsApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notificação enviada"
          }
        }
      }
    },
    "/whatsapp/webhook": {
      "get": {
        "summary": "Validação de Webhook WhatsApp",
        "security": [],
        "responses": {
          "200": {
            "description": "Challenge ok"
          }
        }
      },
      "post": {
        "summary": "Receber Eventos / Mensagens do WhatsApp",
        "security": [],
        "responses": {
          "200": {
            "description": "Evento recebido"
          }
        }
      }
    }
  }
}
